.header {
	height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .left {
	height: 100%;
	flex: 1;
	position: relative;
}

.header .left-content {
	height: 100%;
	margin: 80px 0 0 150px;
	position: relative;
}

.header .left-content h2 {
	font-size: 32px;
	color: rgb(var(--text-color-1));
	padding: 20px 0;
	position: relative;
}

.header .left-content h2:before {
	content: '';
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 3px solid rgb(var(--primary-color-1));
}

.header .left-content p {
	font-size: 15px;
	color: rgb(var(--text-color-2));
	margin-bottom: 30px;
}

.header .left-content .scroll-down {
	position: absolute;
	left: -50px;
	top: 45%;
	writing-mode: vertical-lr;
}

.header .left-content .scroll-down {
	font-size: 13px;
	color: rgb(var(--text-color-2));
	width: auto;
	height: auto;
	position: absolute;
	left: -50px;
	top: 35%;
	writing-mode: vertical-lr;
	padding: 50px 10px 0px 10px;
	border-left: 2px dotted rgb(var(--primary-color-1));
	cursor: pointer;
}
.header .left-content .scroll-down a {
	color: rgb(var(--text-color-2));
	text-decoration: none;
}

.header .right {
	height: 100%;
	flex: 1;
	position: relative;
	overflow: hidden;
}

.header .right svg {
	width: 50vw;
	position: absolute;
	right: -15px;
	top: -150px;
}

.header .right svg #path1 {
	fill: rgba(var(--primary-color-1), 0.3);
	transform: translate(50%, 50%);
}

.header .right svg #path2 {
	transform: translate(45%, 45%);
}

.header .right svg #path3 {
	fill: rgba(var(--primary-color-1), 0.8);
	transform: translate(45%, 45%);
	mix-blend-mode: hard-light;
}

.header .right svg image {
	width: 215px;
	height: 220px;
	opacity: 0.5;
}

.header .right-content .human {
	width: 45%;
	height: auto;
	position: absolute;
	bottom: -5px;
	left: 40%;
	z-index: 1;
	transform: translateX(-50%);
}

.header .right-content .human img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header .right-content .human div {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: contain;
	mix-blend-mode: overlay;
}

.flags {
	width: 500px;
	height: 500px;
	display: block;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 3;
}
.flags .flag-box {
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 50%;
	position: absolute;
	transform-origin: center;
}
.flags .flag-box .flag {
	width: 80px;
	height: 80px;
	display: grid;
	place-items: center;
	background-color: white;
	border-radius: 50%;
	box-shadow: var(--boxShadow);
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0%);
}
.flags .flag-box .flag img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 768px) {
	.header .left-content {
		margin: 50px 0 0 30px;
	}

	.header .left-content h2 {
		font-size: 24px;
	}

	.header .left-content .scroll-down {
		left: 0px;
		top: 55%;
	}

	.header .right svg {
		width: 55vw;
		top: -100px;
	}

	.header .right-content .human {
		width: 60%;
		left: 50%;
	}

	.flags {
		width: 360px;
		height: 360px;
		left: 50%;
	}
	.flags .flag-box .flag {
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 480px) {
	.header .right {
		display: none;
	}
	.header .left-content {
		margin: 50px 15px;
	}
	.header .left-content h2 {
		font-size: 28px;
	}

	.header .left-content .scroll-down {
		width: fit-content;
		height: auto;
		position: absolute;
		left: 80%;
		top: 45%;
		z-index: 3;
		writing-mode: vertical-lr;
		padding: 50px 10px 0px 10px;
		border-right: 2px dotted rgb(var(--primary-color-1));
		border-left: none;
		cursor: pointer;
	}
}
