svg.design {
	width: 50vw;
	position: absolute;
	left: 0;
	bottom: -80px;
	z-index: -1;
}

svg.design #left-path1 {
	fill: rgba(var(--primary-color-1), 0.3);
	transform: translate(30%, 81%);
}

svg.design #left-path2 {
	transform: translate(25%, 80%);
}

svg.design #left-path3 {
	fill: rgba(var(--primary-color-1), 0.8);
	transform: translate(25%, 80%);
	mix-blend-mode: hard-light;
}

svg.design image {
	width: 150px;
	height: 300px;
	opacity: 0.5;
}

@media screen and (max-width: 768px) {
	svg.design {
		bottom: -30px;
	}
}

@media screen and (max-width: 480px) {
	svg.design {
		width: 100vw;
		bottom: -30px;
	}
}
