@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

:root {
	--primary-color-1: 238, 239, 32;
	--primary-color-2: 221, 223, 0;
	--text-color-1: 73, 73, 73;
	--text-color-2: 124, 122, 122;
	--boxShadow: 0 2px 30px rgba(0, 0, 0, 0.1);

	--color-1: #80b918;
	--color-2: #aacc00;
	--color-3: #bfd200;
	--color-4: #d4d700;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	scroll-behavior: smooth;
	scroll-padding-top: 20%;
}

body {
	position: relative;
}

.wrapper {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.wrapper {
		width: calc(100% - 30px);
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media screen and (max-width: 480px) {
	* {
		scroll-padding-top: 0%;
	}
}

.bg-section {
	background-color: rgba(var(--primary-color-1), 0.2);
}
